
@(title: String)
<!DOCTYPE html>
<html lang="en" ng-app="SIRIUS">
    <head>
        <title>@title</title>

            <!------------------------------------------ Stylesheets ------------------------------------------>
        <link rel="stylesheet" type="text/css" href="/assets/bootstrap/bootstrap.min.css"/>
            <!------------------------------------------ Stylesheets ------------------------------------------>


            <!------------------------------------------ Javascript ------------------------------------------>
        <script type="text/javascript" src="/assets/angularjs/angular.min.js"></script>

        <script type="text/javascript" src="/js/app.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/assets/bootstrap/bootstrap.min.js"></script>
            <!------------------------------------------ Javascript ------------------------------------------>

    </head>

    <body>
        <div
        ng-include="'/html/common/headbar.html'">
        </div>

    </body>
</html>
